@import url("./style.css");

.fundo {
  background: var(--cor-fundo);
  background-image: url(../assets/background.svg);
  background-position: fixed;
  font-family: var(--fonte);
  font-size: 16px;
}

.cadastro {
  position: relative;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}
.cadastro__container {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;
}

.cadastro__img-container {
  padding: 0 2em;
}

.cadastro__form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  margin: 1em;
  gap: 1rem;
}

.cadastro__form > input {
  padding: 12px;
  border-radius: 20px;
}

.cadastrar {
  background-color: var(--verde);
  border-radius: 15px;
  padding: 0.5rem;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.cancelar {
  background-color: var(--vermelho);
  text-decoration: none;
  border-radius: 15px;
  padding: 0.5rem;
  color: #fff;
}
