@import url("./style.css");

.links {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  max-height: 5rem;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 3rem;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--fonte);
  line-height: 0.2rem;
  font-size: 12px;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--laranja);
  text-decoration-thickness: 0.2rem;
}

#categoriasGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem 3rem;
  margin-top: 3rem;
}

.card {
  width: 200px;
}

.card img {
  width: 200px;
}

@media (max-width: 902px) {
  .menu__icone {
    flex-direction: column;
    top: 0.1;
    right: 10px;
  }
}

@media (max-width: 698px) {
  .container__lateral {
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .lateral__img {
    width: 8rem;
  }

  .conteudo {
    display: flex;
    height: 100%;
    display: flex;
    margin: 0;
    padding: 1.5em 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu_lateral {
    display: flex;
  }

  .menu__navegacao {
    position: static;
  }

  .menu__icone {
    position: static;
    flex-direction: row;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
  }
}

@media (max-width: 419px) {
  .receita__card {
    width: 250px;
  }

  .menu__icone {
    gap: 2rem;
  }

  .card__img {
    width: 250px;
    margin-bottom: 0.7em;
  }

  .pesquisa {
    width: 250px;
    padding: 0.4em;
  }
}
