@import url("./style.css");

.links {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  max-height: 5rem;
  flex-wrap: wrap;
  margin-top: 5rem;
  gap: 3rem;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--fonte);
  line-height: 0.2rem;
  font-size: 12px;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--laranja);
  text-decoration-thickness: 0.2rem;
}

#categoriasGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem 3rem;
  margin-top: 3rem;
}

.card {
  width: 200px;
}

.card img {
  width: 200px;
}

.imgReceita {
  width: 200px;
  height: 140px;
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 1415px) {
  #categoriasGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1160px) {
  #categoriasGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1088px) {
  .links {
    width: 100%;
  }
}

@media (max-width: 926px) {
  #categoriasGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 854px) {
  #categoriasGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .links {
    width: calc(80% - 10px);
    gap: 1.5rem 3rem;
  }

  .link {
    font-size: 15px;
  }
}

@media (max-width: 464px) {
  #categoriasGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .links {
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 8rem;
    margin-bottom: 4rem;
  }

  .link {
    max-width: 100%;
  }
}
